* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
}

a {
  list-style: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
  }
}
